body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

.pantalla {
  display: none;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.pantalla.activa {
  display: flex;
}

button {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  background: #ff4d6d;
  color: white;
}
.pagina {
  display: none;
}

.pagina.activa {
  display: block;
}


